extends layoyt/layout

block style
    style.
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #426fff;
            text-decoration: none;
        }

block content
    h1= title
    p Welcome to Template #{title}
    div
        b Git:
        a(href='https://github.com/BogdanSG/NodeJS-Express-Template.git', target='_blank') https://github.com/BogdanSG/NodeJS-Express-Template.git
