<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express</title>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #426fff;
            text-decoration: none;
        }

    </style>
</head>
<body>

<h1>Express</h1>
<p>Welcome to Template Express</p>
<div><b>Git:</b> <a href="https://github.com/BogdanSG/NodeJS-Express-Template.git" target="_blank">https://github.com/BogdanSG/NodeJS-Express-Template.git</a></div>

</body>
</html>